MONGO_URI=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
STORAGE_PROVIDER=cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# AWS_S3_BUCKET=              # uncomment when using s3 provider
# AWS_S3_REGION=
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
AI_PROVIDER=gemini
GEMINI_API_KEY=
# CLAUDE_API_KEY=             # uncomment when using claude provider
# OPENAI_API_KEY=             # uncomment when using openai provider
